/*
Theme Name: exida Custom Bootstrap Override
Theme URI: http://www.exida.com
Author: Rick Smith
Description: Responsive HTML Template
Version: 1.0.1
Colors: #ed5514 (Red), #f1992d (Gold)
*/


/* ==================================================
   Basic Styles
================================================== */


body {
  background:#FFF;
	color:#656565;
	font-weight:500;
	font-size:16px;
	font-family: 'Source Sans Pro', "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
	line-height:28px;
  margin: 5% 8% 5% 8%;
}

img {
    margin-right: 25px;
}

input, select, textarea {font-family: 'Source Sans Pro', "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;}

a {color:#ed5514;}
a:hover {color:#666;;text-decoration:none;}


/* ==================================================
   Typography
================================================== */

h1,
h2,
h3,
h4,
h5,
h6{
	margin: 30px 0 30px 0;
	color:#333;
	font-weight:700;
	font-family: 'Source Sans Pro', "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
    line-height:1.3em;
}

h1{
	font-size:32px;
}

h2{
	font-size:24px;
	font-weight:700;
	color:#666;
	
}

h3{
	font-size:19px;
	color:#000;
	font-weight:400;
	line-height:22px;
   
}

h4{
	font-size:16px;
	color:#f04c23;
	font-weight:400;
}

h5{
	font-size:13px;
	font-weight:400;
}

h6{
	font-size:11px;
	font-weight:400;
}

/* ==================================================
   Content Boxes
================================================== */

.content {
	position: relative;
	padding:20px 0 20px 0;
	text-align: left;

}

.hero-unit {
  padding: 20px 0 10px;
  background: none;
}
.hero-unit h1 {
  font-size: 33px;
  font-weight: bold;
  line-height: 1.3;
  color: #999;
}
.hero-unit p.lead {
  font-size: 22px;
  line-height: 1.5;
  color: #999;
}
.hero-unit a.btn {
  margin-top: 15px;
}


.breadcrumb {margin-bottom:30px;}


/* ==================================================
   Images
================================================== */

.circles { border-radius: 50%;margin:0 70px 50px 0}
.ss {padding:5px;border:1px solid #ccc;margin-right:10px;}

.avatar-message-list {width:50px; height:50px; -webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
		 -o-border-radius: 50%;
			border-radius: 50%;}
			
.avatar-profile-list {width:100px; height:100px; -webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
		 -o-border-radius: 50%;
			border-radius: 50%;}


/* ==================================================
  Lists
================================================== */

.no-dots {font-weight:400;font-size:18px;}
.no-dots ul {list-style-type: none; margin:0;padding-right:10px;}
.no-dots ul li {margin-bottom:20px;line-height:30px;}

.lists ul {margin:30px 0 20px 40px;color:#000;}
.lists ul li {padding-bottom:10px; font-size:14px;}



/* ==================================================
   Odds and Ends
================================================== */

.center {float: none; margin-left: auto; margin-right: auto;} /* center column */
.center-text {text-align: center}
.hr-spacer {display: block; height: 1px; border: 0;	border-top: 1px solid #ccc; margin:40px 0 40px 0;} /* invisible spacer */
	.space15 {margin: 15px 0;}
	.space35 {margin: 35px 0;}
	.space50 {margin: 50px 0;}
	.space75 {margin: 75px 0;}
.grey {Background:#f2f2f2;}
.grey_bar {border-top:5px solid #ccc;padding:20px 0px 0px 0px;}
.red_bar {border-top:5px solid #ff4a43;padding:20px 0px 0px 0px;}
.yes {color:#27AE60;}
.anchor{display: block; position: relative; top: -250px; visibility: hidden;}
.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

color:#2ecc71;
}

	

/* Wrapper for page content to push down footer
-------------------------------------------------- */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -30px;}

/* ==================================================
   Navbar
================================================== */

.logo {width:100px;height:54px;}

.nav-wrap {	
	background:#fff;width: 100%;	position:fixed; box-shadow: 0 0 6px 0 rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 6px 0 rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 0 6px 0 rgba(0,0,0,0.3);height:130px;z-index:20; 
}
#navbar-top {
background-color: #fafafa;
background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
background-repeat: repeat-x;
border-bottom: 1px solid #d4d4d4;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
font-size:14px;
color:#666;

}
#navbar-top ul
{
margin:7px 15px 7px 0;
padding: 0;
list-style-type: none;
float:right;
}

#navbar-top ul li {display: inline;}

#navbar-top ul li a{color: #666; padding-left:10px; }
#navbar-top ul li a:hover{color: #ed5514; text-decoration:none; }
.navbar {
	margin-bottom: 0px;	
}
.navbar-inner {
	background-color: #fff;
	background-image: none;
	filter: none;
	padding-top:5px;
	padding-bottom:5px;
	border: none;
	border-radius: 0 0 0 0;
	box-shadow: none;
	margin: 0 -20px;	
}

.navbar .nav > li > a {
	color: #999;
	float: none;
	padding: 20px 25px;
	margin-top:10px;
	text-decoration: none;
	text-shadow: none;
	font-size: 15px;
	font-weight:500;
	transition: color 0.15s ease-in-out 0s;
	text-transform: uppercase;
}
.navbar .nav > li > a:hover {
	color: #ed5514;
}
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
	color: #ed5514;
	background-color: transparent;
	box-shadow: none;
}
.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: transparent;
}
/*Search Box*/
.navbar .search-open {
	right: 0; 
	top: 82px; 
	display: none;
	padding: 14px; 
	position: absolute;
	background: #f2f2f2; 
	border-top: solid 2px #eee;
	box-shadow: 0 1px 3px #ddd; 
}

.navbar .nav > li > a.search {
	color: #aaa;
	cursor: pointer;
	padding: 8px 17px 10px;
	border-bottom-color: #aaa;
	background: #fff !important;
margin-top:20px;
}

.navbar .nav > li > a.search:hover {
	color: #e74c3c;
	border-bottom-color: #72c02c;
}

.navbar .search-open form {
	margin: 0;	
}

.navbar a.search [class^="icon-"],
.navbar a.search [class*=" icon-"] {
  width: 1.25em;
  text-align: center;
  display: inline-block;
}

.navbar a.search [class^="icon-"].icon-large,
.navbar a.search [class*=" icon-"].icon-large {
  /* increased font size for icon-large */
  width: 1.5625em;
}

.sm_search {display:none;}

.btn-u {
   border:0;
   font-family: 'Source Sans Pro', "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
   font-size:14px;
   cursor:pointer;
   padding:6px 13px;
   margin-bottom:10px;
   position:relative;
   background:#666;
   display:inline-block;
   color:#fff !important;
   text-decoration:none !important;
}
.btn-u:hover {
   color:#fff;
   background:#e74c3c;
   text-decoration:none;
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    transition:all 0.4s ease-in-out;
}

input.form-control:focus {
  border: solid 1px #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: none;
  -moz-transition: none;
  -webkit-transition: none;
}

.caret{
display:inline-block;width:0;height:0;vertical-align:top;border-top:4px solid #666;border-right:4px solid transparent;border-left:4px solid transparent;content:"";
}

.dropdown .caret{margin:12px 0 0 2px;}

.dropdown a {color:#ccc;font-size:12px;margin-bottom:4px;}

.dropdown a:hover {color:#ff4a43;}

.flag {margin-bottom:9px;padding-right:3px;}

.dropdown-menu {
	border: 1px solid #ccc;
	border-radius: 0 0 0 0 ;
	padding: 0 0;
}
.dropdown-menu > li > a {
	padding: 12px 20px;
}
.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-submenu:hover>a,.dropdown-submenu:focus>a{
text-decoration:none;color:#ff4a43;background: rgb(238,238,238); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(238,238,238,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(238,238,238,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */

}

.us
{
background-image: url(http://www.exida.com/2014/assets/img/flags/us.png);
background-repeat: no-repeat;
background-position: 0 50%;
padding: 3px 5px 3px 20px;
margin: .4em 0;
}
.can
{
background-image: url(../../assets/img/flags/can.png);
background-repeat: no-repeat;
background-position: 0 50%;
padding: 3px 5px 3px 20px;
margin: .4em 0;
}

.jp
{
background-image: url(http://www.exida.com/2014/assets/img/flags/jp.png);
background-repeat: no-repeat;
background-position: 0 50%;
padding: 3px 5px 3px 20px;
margin: .4em 0;
}

.gb
{
background-image: url(http://www.exida.com/2014/assets/img/flags/gb.png);
background-repeat: no-repeat;
background-position: 0 50%;
padding: 3px 5px 3px 20px;
margin: .4em 0;
}

.za
{
background-image: url(http://www.exida.com/2014/assets/img/flags/za.png);
background-repeat: no-repeat;
background-position: 0 50%;
padding: 3px 5px 3px 20px;
margin: .4em 0;
}

.nl
{
background-image: url(http://www.exida.com/2014/assets/img/flags/nl.png);
background-repeat: no-repeat;
background-position: 0 50%;
padding: 3px 5px 3px 20px;
margin: .4em 0;
}
.mx
{
background-image: url(http://www.exida.com/2014/assets/img/flags/mx.png);
background-repeat: no-repeat;
background-position: 0 50%;
padding: 3px 5px 3px 20px;
margin: .4em 0;
}

.sg
{
background-image: url(http://www.exida.com/2014/assets/img/flags/sg.png);
background-repeat: no-repeat;
background-position: 0 50%;
padding: 3px 5px 3px 20px;
margin: .4em 0;
}
.de
{
background-image: url(http://www.exida.com/2014/assets/img/flags/de.png);
background-repeat: no-repeat;
background-position: 0 50%;
padding: 3px 5px 3px 20px;
margin: .4em 0;
}

.navbar .btn-navbar {
	height: 18px;
	margin: 20px 15px 0 0;
}
.navbar .brand {
	color: #EAEAEA;
	font-size: 22px;
	text-shadow: none;
}


/* ==================================================
   Heros
================================================== */
.Hero {background-color:#a9a7ac;margin-bottom:0px;}


.Hero h1 {font-size:45px;font-weight:200; line-height:55px; color:#fff;padding:30px; }
.Hero h2 {font-size:35px;font-weight:200; line-height:55px; color:#fff;padding:30px; }
.Hero h3 {font-size:25px;font-weight:700; line-height:45px; color:#fff; }
.Hero h4 {font-size:19px;font-weight:normal; line-height:45px; color:#fff; }

body:before {
    content: url(../../assets/img/splash/home_page_hero.jpg);
    display:none;
}


.Home_Page {
  text-align: center;
   padding:150px 0 50px 0;
  background-size: cover; background-position: center center; background-repeat: no-repeat;
  background-image: url(../../assets/img/splash/home_page_hero.jpg);
}


.Certification {
  text-align: center;
   padding:150px 0 50px 0;
  background-size: cover; background-position: center center; background-repeat: no-repeat;
  background-image: url(../../assets/img/splash/cert_home.jpg);
}

.Certification_Cyber {
  text-align: center;
   padding:150px 0 50px 0;
  background-size: cover; background-position: center center; background-repeat: no-repeat;
  background-image: url(../../assets/img/splash/cyber_cert.jpg);
}
.Certification_Boiler {
  text-align: center;
   padding:100px 0 100px 0;
  background-size: cover; background-position: center center; background-repeat: no-repeat;
  background-image: url(../../assets/img/splash/boiler_grad.jpg);
}

.Cyber {
  text-align: center;
   padding:150px 0 20px 0;
  background-size: cover; background-position: center center; background-repeat: no-repeat;
  background-image: url(../../assets/img/splash/Cyber_Splash.jpg);
}
.FS {
  text-align: center;
   padding:150px 0 20px 0;
  background-size: cover; background-position: center center; background-repeat: no-repeat;
  background-image: url(../../assets/img/splash/FS_Splash.jpg);
}
.Software {
  text-align: center;
   padding:170px 0 20px 0;
  background-size: cover; background-position: center center; background-repeat: no-repeat;
  background-image: url(../../assets/img/splash/software_splash_grey.jpg);
}
.Store{
  text-align: center;
   padding:200px 0 50px 0;
  background-size: cover; background-position: center center; background-repeat: no-repeat;
  background-image: url(../../assets/img/splash/store_splash_22.jpg);
}
.Cyber_Scorecard {
  text-align: center;
   height:500px;
  background-size: cover; background-position: center center; background-repeat: no-repeat;
  background-image: url(../../assets/img/splash/cyber_scorecard_14.jpg);
}
.Alarm {
  text-align: center;
   padding:150px 0 20px 0;
  background-size: cover; background-position: center center; background-repeat: no-repeat;
  background-image: url(../../assets/img/splash/alarm_management.jpg);
}
.SIL_Alarm {
  text-align: center;
   padding:150px 0 50px 0;
  background-size: cover; background-position: center center; background-repeat: no-repeat;
  background-image: url(../../assets/img/splash/sil_alarm_splash3.jpg);
}
.SILStat {
  text-align: center;
   padding:150px 0 50px 0;
  background-size: cover; background-position: center center; background-repeat: no-repeat;
  background-image: url(../../assets/img/splash/SILStat_cover.jpg);
}
.PHAX {
  text-align: center;
   padding:150px 0 50px 0;
  background-size: cover; background-position: center center; background-repeat: no-repeat;
  background-image: url(../../assets/img/splash/phax_background.jpg);
}
.PHAX2014 {
  text-align: center;
   padding:150px 0 50px 0;
  background-size: cover; background-position: center center; background-repeat: no-repeat;
  background-image: url(../../assets/img/splash/phax_2014_background2.jpg);
}
.LOPAX2014 {
  text-align: center;
   padding:150px 0 50px 0;
  background-size: cover; background-position: center center; background-repeat: no-repeat;
  background-image: url(../../assets/img/splash/lopax_2014_background2.jpg);
}
.CyberPHAX2014 {
  text-align: center;
   padding:150px 0 50px 0;
  background-size: cover; background-position: center center; background-repeat: no-repeat;
  background-image: url(../../assets/img/splash/cyberphax_2014_background.jpg);
}
.exsilentia {
  text-align: center;
   padding:70px 0 50px 0;
  background-size: cover; background-position: center center; background-repeat: no-repeat;
  background-image: url(../../assets/img/splash/exsil_splash.jpg);
}
.SILStat{
  text-align: center;
   padding:140px 0 20px 0;
  background-size: cover; background-position: center center; background-repeat: no-repeat;
  background-image: url(../../assets/img/splash/silstat_splash_2.jpg);
}
.Company_BKG {
  text-align: center;
   padding:150px 0 50px 0;
  background-size: cover; background-position: center center; background-repeat: no-repeat;
  background-image: url(../../assets/img/splash/company_BKG_Gaus.jpg);
}

.Clients {
  text-align: center;
   padding:150px 0 150px 0;
  background-size: cover; background-position: center center; background-repeat: no-repeat;
  background-image: url(../../assets/img/splash/Clients.jpg);
}

.CFSE {
  text-align: center;
   padding:150px 0 150px 0;
  background-size: cover; background-position: center center; background-repeat: no-repeat;
  background-image: url(../../assets/img/splash/cfse_guy.jpg);
}

.IEC_61511 {
  text-align: center;
   padding:100px 0 100px 0;
  background-size: cover; background-position: center center; background-repeat: no-repeat;
  background-image: url(../../assets/img/splash/iec_61511.jpg);
}



.Training {
  text-align: center;
   padding:150px 0 20px 0;
  background-size: cover; background-position: center center; background-repeat: no-repeat;
  background-image: url(../../assets/img/splash/training_splash.jpg);
}
.Training_Week {
  text-align: center;
   padding:150px  0 20px 0;
  background-size: cover; background-position: center center; background-repeat: no-repeat;
  background-image: url(../../assets/img/splash/Training_Week_Cover.jpg);
}
.FSP{
  text-align: center;
   padding:150px 0 20px 0;
  background-size: cover; background-position: center center; background-repeat: no-repeat;
  background-image: url(../../assets/img/splash/FSP_splash2.jpg);
}
.Canada {
  text-align: center;
   padding:200px 0 100px 0;
  background-size: cover; background-position: center center; background-repeat: no-repeat;
  background-image: url(../../assets/img/splash/Countries/canada_splash.jpg);
}
.UK {
  text-align: center;
   padding:200px 0 100px 0;
  background-size: cover; background-position: center center; background-repeat: no-repeat;
  background-image: url(../../assets/img/splash/Countries/UK_splash.jpg);
}
.Japan {
  text-align: center;
   padding:200px 0 100px 0;
  background-size: cover; background-position: center center; background-repeat: no-repeat;
  background-image: url(../../assets/img/splash/Countries/Japan_splash.jpg);
}
.SA {
  text-align: center;
   padding:200px 0 100px 0;
  background-size: cover; background-position: center center; background-repeat: no-repeat;
  background-image: url(../../assets/img/splash/Countries/SA_splash.jpg);
}
.NL {
  text-align: center;
   padding:200px 0 100px 0;
  background-size: cover; background-position: center center; background-repeat: no-repeat;
  background-image: url(../../assets/img/splash/Countries/NL_splash.jpg);
}
.Mexico {
  text-align: center;
   padding:200px 0 100px 0;
  background-size: cover; background-position: center center; background-repeat: no-repeat;
  background-image: url(../../assets/img/splash/Countries/Mexico_splash.jpg);
}
.Overview {
  text-align: center;
   padding:150px 0 0 0;
  background-size: cover; background-position: center center; background-repeat: no-repeat;
  background-image: url(../../assets/img/splash/Overview_splash_red.jpg);
}
.Asia {
  text-align: center;
    padding:200px 0 100px 0;
  background-size: cover; background-position: center center; background-repeat: no-repeat;
  background-image: url(../../assets/img/splash/Singapore_Splash.jpg);
}
.Germany {
  text-align: center;
    padding:200px 0 100px 0;
  background-size: cover; background-position: center center; background-repeat: no-repeat;
  background-image: url(../../assets/img/splash/Germany_Splash.jpg);
}
/* ==================================================
   Home page Message
================================================== */

#message {font-size:65px;font-weight:200; line-height:75px; color:#fff; background-color:#F04C23; padding:190px 0 90px 0; }

.improve {font-weight:bold;}
.safety  {font-weight:700;}
.automation  {font-weight:400;}

/* ==================================================
   Call to Action
================================================== */

#Call_To_Action {
	position: relative;
	padding: 30px 0 30px;
	text-align: center;	
	background-color:#fff;
}

#Call_To_Action h1 {
	color: #666;
    
}

#Call_To_Action h3 {
	color: #666;
	font-size: 20px;
    font-weight: 500;
	line-height: 33px;
    padding: 0 30px;
	margin-bottom: 0;
    
}

#Call_To_Action h4 {
	color: #FFFFFF;
	font-size: 18px;
    font-weight: 300;
	font-style: italic;
	line-height: 1.7;
    padding: 0;
	margin-bottom: 0;
    text-align: center;	
}




/* ==================================================
   Background Colors
================================================== */

.bg-color.orange {
  background: #f39c12;
  color: #fff;
}
.bg-color.green {
  background: #4fa950;
  color: #fff;
}
.bg-color.blue {
  background: #06a9ef;
  color: #fff;
}

.bg-color.brown {
  background: #63472c;
  color: #fff;
}
.bg-color.dark-grey {
  background: #333333;
  color: #fff;
}
.bg-color.grey {
  background: #888888;
  color: #fff;
}
.bg-color.yellow {
  background: #ffa93c;
  color: #fff;
}
.bg-color.pink {
  background: #d8335b;
  color: #fff;
}
.bg-color.black {
  background: #000000;
  color: #fff;
}
.bg-color.red {
  background: #e74c3c;
  color: #fff;
}
.bg-color.winered {
  background: #7f261b;
  color: #fff;
}

.bg-color.darker-bg {
  background: rgba(0, 0, 0, 0.1);
  color: #fff;
}
.bg-color.silver {
  background: #bdc3c7;
  color: #fff;
}
.bg-color.light-grey {
  background: #f2f2f2;
}

/* ==================================================
   Font Colors
================================================== */


.Cyber_Brown {color:#b99c69}
.SIL_Red {color:#c7382a}

/* ==================================================
   News / Blog
================================================== */

#news_blog {padding:20px 0 20px 0;}
#news_blog ul {list-style-type: none; margin:0;}
#news_blog ul li {height:100px;border-bottom:1px solid #f1f1f1;margin-top:20px;}
#news_blog ul li a {color:#666;font-weight:400;line-height:19px;}
#news_blog ul li a:hover {color:#ed5514}
#news_blog p {line-height:15px;}
#news_blog li img {float: left;margin: 0 15px 0 0;height: 80px; width: 80px;
        border-radius: 46px; 
    }
 .date {font-size:13px; color:#ff4a43;}
 
 /* ==================================================
   News / Blog Subsidiaries
================================================== */


#news_blog_sub ul {list-style-type: none; margin:0;}
#news_blog_sub ul li {padding:20px 0 20px 0; border-bottom:1px solid #f1f1f1;margin-bottom:10px;}
#news_blog_sub ul li a {color:#666;font-weight:400;line-height:19px;}
#news_blog_sub ul li a:hover {color:#ed5514}
#news_blog_sub p {line-height:15px;}

 /* ==================================================
  News
================================================== */

.mast {font-size:39px; font-weight:400;font-style: italic; }

.News_Body h2 {font-size:19px; font-weight:700;}
.News_Body ul {font-size:13px;}
.News_Body ul li {margin-left:20px; color:#666;}

 
.white_box {padding:20px; border:1px solid #ccc;margin:20px 0 20px 0;background:#fff;}
.white_box h2 {line-height:30px;}
.white_box h2 a{font-size:25px;font-weight:700;color:#666;}



 
/* ==================================================
   Page Header
================================================== */
 
 #page_header {top:200px;background:#f2f2f2;padding:140px 0 10px 0;border-bottom:1px solid #ccc;margin-bottom:10px;}
 
 #page_header h1 {color:#666;}
 


/* ==================================================
   Page Header - Services
================================================== */
 
 #page_header_services {top:200px;padding:160px 0 20px 0;}
 
 #page_header_services h1 {color:#fff;font-weight:700;}



/* ==================================================
  Services
================================================== */

#services {background-color: #f2f2f2;padding:20px 0 20px 0;}

#services .about-inner {
	padding: 10px 15px; 
}
#services .about-inner img {
	padding: 10px 0;
}
#services .industry .industry-thumb {
	background-color: #FFFFFF;
	margin-top: 15px;
	padding: 10px;
	border:1px #ccc solid;
	min-height:430px;
	font-size:13px;
	line-height:22px;
}
#services .industry .industry-thumb:hover {	
	box-shadow: 0 0 8px #DDDDDD;
	transition: box-shadow 0.2s eass-in-out 0s;
}
#services .industry .industry-thumb:hover h3 a {
	color: #f04c23;
}
#services .industry .industry-thumb a {font-weight:bold;color:#E74C3C;}
#services .industry .industry-thumb a:hover, .services_sub_s8 a:hover {color:#f1992d;}
.smalls p {font-size:11px; color:#999;line-height:15px;}



/* ==================================================
  Services subpage
================================================== */

.services_sub_4 {width:80%; padding:20px; margin-bottom:50px; background:#fff; border:1px solid #ccc;text-align:center;min-height: 450px;font-size:12px;}
.services_sub_4 h2 {font-size:16px; text-transform: uppercase;}
.services_sub {width:90%; padding:20px; margin-bottom:50px; background:#fff; border:1px solid #ccc;text-align:center;min-height: 410px;}
.services_sub_grey {width:90%; padding:20px; margin-bottom:20px; background:#f2f2f2; border:1px solid #ccc;text-align:center;min-height: 300px;}
.services_sub_s8 {width:95%; padding:20px; margin-bottom:20px; background:#fff; border:1px solid #ccc;text-align:center;min-height: 400px;}
.services_sub_cs {width:98%; padding:20px; margin-bottom:20px; background:#fff; border:1px solid #ccc;text-align:left;}
.services_sub_grey h3 {font-size:16px; font-weight:300;}
.services_sub h2, .services_sub_s8 h2 {font-size:20px; text-transform: uppercase;}

.services_sub img, .services_sub_s8 img, .services_sub_grey img, .services_sub_4 img {width:100px; height:100px;margin:10px 0 10px 0;}

.services_sub a, .services_sub_cs a, .services_sub_s8 a , .services_sub_4 a {font-weight:bold;color:#E74C3C;}
.services_sub a:hover, .services_sub_cs a:hover, .services_sub_s8 a:hover, .services_sub_4 a:hover {color:#f1992d;}

.services_list ul {list-style-type: none; margin:30px 0 0 0;padding-right:10px;}
.services_list ul li {height:40px;border-bottom:1px solid #f1f1f1;margin-bottom:20px;}
.services_list ul li a {color:#666;font-weight:400;line-height:19px;font-size:20px;}
.services_list ul li a:hover {color:#ed5514}

.resources_list {padding-top:30px;}
.resources_list ul {list-style-type: none; margin:0;padding-right:10px;text-align:left;}
.resources_list ul li {border-bottom:1px solid #f1f1f1;margin-bottom:20px;padding-bottom:20px;}
.resources_list ul li a {color:#666;font-weight:400;line-height:27px;font-size:19px;}
.resources_list ul li a:hover {color:#ed5514}


.numberCircle {background-color:#27ae60;width:50px;height:50px;border-radius:50px;font-size:25px;margin:20px;font-weight:500;color:#fff;line-height:50px;text-align:center}
.grey_bg {background-color:#95A5A6;}
.green_bg {background-color:#27ae60;}
.thiele_bg {background-color:#1abc9c;}
.blue_bg {background-color:#3498db;}
.yellow_bg {background-color:#f1c40f;}
.purple_bg {background-color:#8e44ad;}
.ansi_grey {background-color:#afb0ae;}
.ansi_grey h3 {color:#fff;margin-top:40px;}

.green  {color:#27ae60;}
.red  {color:#e74c3c;}

.medium {font-size:22px;}


.bg-color.dark-grey {
  background: #333333;
  color: #fff;
}

.services_table td {vertical-align:middle;font-size:14px;line-height:22px;}

.table {margin:20px 0 20px 0;}


/* ==================================================
  About Us
================================================== */

#client_logos {margin-left:20px; padding: 0; list-style-type: none;text-align:center;}

#client_logos li {display: inline;}

#client_logos li img {padding:30px;}

.info_box {width:80%; padding:20px; margin-bottom:20px; background:#fff; border:1px solid #ccc;}

.clear {clear:both;}



/* ==================================================
  Contact Form
================================================== */
#contact-form .input-block-level, #services-form .input-block-level {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 3px solid #ccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
    border-radius: 3px;
	
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	
	background: #f2f2f2;
    color: #333;
    font-size: 13px;
    height: auto;
    padding: 5px;
	margin-bottom:20px;
	
    resize: none;
	
	-webkit-transition: border 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;	
	   -moz-transition: border 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;
		 -o-transition: border 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;
		    transition: border 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;
}

#contact-form label, #services-form label{
	margin:10px 0 10px 0;
	font-size:17px;
	font-weight:500;
}

.comment-form text area, .contact-form text area, #services-form text area{
	margin-bottom:25px;
	font-size:12px;
 }
 
 #contact-form text area, #services-form text area {
    width: 100%;
	resize: vertical;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}



#contact-form input:focus,
#contact-form text area:focus,
#services-form input:focus,
#services-form text area:focus
{
	border-color:#ff4a43 ;
	color: #323A45;
}



#contact-form .submit {
    background: #323A45;
    color: #FFFFFF;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    padding: 16px 40px;
    text-align: center;
    vertical-align: middle;
    width: auto;
	
	-webkit-transition: background 0.15s ease-in-out 0s;
	   -moz-transition: background 0.15s ease-in-out 0s;
		 -o-transition: background 0.15s ease-in-out 0s;
		    transition: background 0.15s ease-in-out 0s;
}

#contact-form .submit:hover {
    background: #ff4a43 ;
}

#response {
	margin-top: 20px;
	color: #323A45;
}

#response p {
	margin-bottom: 10px;	
}
.required {color:#E74C3C;}

/* ==================================================
   Our Team Page
================================================== */

.single-people {
	margin-bottom: 30px;
	overflow: hidden;	
	font-size:11px;
}

.single-people a {color:#666;}

.single-people img {
	width: 100%;
	
}

.single-people .team-img {
	
	width: 150px;
	height: 150px;
	position: relative;
	overflow: hidden;
	margin-bottom: 18px;	
}


.single-people .team-img .overlay {
	position: absolute;
	display: block;
    height: 100%;
    width: 100%;
	left: 0;
	top: 0;
	border-radius:50%;
	background: #fff;
	opacity: 0;
	filter: alpha(opacity=0);
	
	-webkit-transition: opacity 0.35s ease-in-out 0s;	
	   -moz-transition: opacity 0.35s ease-in-out 0s;
		 -o-transition: opacity 0.35s ease-in-out 0s;
		    transition: opacity 0.35s ease-in-out 0s;
}

.single-people:hover .team-hover .overlay,
.single-people:active .team-hover .overlay,
.single-people.tapped .team-hover .overlay {
	opacity: 0.85;	
	filter: alpha(opacity=85);
}

.single-people .team-hover i {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -12px 0 0 -12px;
	color: #666;
	font-size: 24px;	

	opacity: 0;
	filter: alpha(opacity=0);
	
	-webkit-transition: opacity 0.15s ease-in-out 0s;	
	   -moz-transition: opacity 0.15s ease-in-out 0s;
		 -o-transition: opacity 0.15s ease-in-out 0s;
		    transition: opacity 0.15s ease-in-out 0s;
}

.single-people:hover .team-hover i,
.single-people:active .team-hover i,
.single-people.tapped .team-hover i {
	opacity: 1;	
	filter: alpha(opacity=100);
}

.single-people .team-name {
	text-align: left;	
}

.single-people .team-name h3 {
	font-size: 16px;
    font-weight: 600;
	margin: 0;
}

.single-people .team-name h4 {
	font-size: 13px;
	font-weight: 400;
	margin: 5px 0 0 0;
}

/* Single Team Page */

#single-team .team-img {
	margin-bottom: 40px;	
}

#single-team .team-img img {
	width: 200px;
	height:200px;
	text-align:center;
}

#single-team .team-social ul {
	margin: 0;
	padding: 25px 0 0;
	
	border-top: 1px solid #E6E6E6;
}

#single-team .team-social ul li {
	list-style: none;
	display: inline-block;
	margin: 0 20px 0 0;	
}

#single-team .team-social ul li a {
	display: block;
}

#single-team .team-social ul li a i {
	font-size: 20px;
	color: #D0DBE2;
	
	-webkit-transition: color 0.15s ease-in-out 0s;	
	   -moz-transition: color 0.15s ease-in-out 0s;
		 -o-transition: color 0.15s ease-in-out 0s;
		    transition: color 0.15s ease-in-out 0s;
}

#single-team .team-social ul li a:hover i {
	color: #ff4a43 ;
}

#single-team .team-name h2 {
	font-size: 28px;
	font-weight: 500;
	margin-bottom: 5px;
}

#single-team .team-name h3 {
	font-size: 16px;
	font-weight: 400;
}

#single-team .paginate-team {
	text-align: center;
	margin: 40px 0 20px 0;	
}

/* ==================================================
  Blog
================================================== */

.blog_post {background-color: #fff;-webkit-box-shadow: 0 2px 2px rgba(0,0,0,.2);-moz-box-shadow: 0 2px 2px rgba(0,0,0,.2);box-shadow: 0 2px 2px rgba(0,0,0,.2);padding:20px;margin-bottom:20px; }

.avatar { position: relative; margin: 0 auto 20px auto; width: 100px; height: 100px; }

.avatar img {-webkit-border-radius: 50px;-moz-border-radius: 50px;border-radius: 50px;-webkit-background-clip: padding-box;-moz-background-clip: padding;background-clip: padding-box; }

.avatar2 { position: relative; margin: 0; width: 100px; height: 100px; }

.avatar2 img {-webkit-border-radius: 50px;-moz-border-radius: 50px;border-radius: 50px;-webkit-background-clip: padding-box;-moz-background-clip: padding;background-clip: padding-box; }


.author {font-size:14px; font-weight:700; color:#666;line-height:14px;margin:10px 0 20px 0;text-align:center;}

.views {font-size:15px; color:#333;font-weight: 300;}

#authors_posts ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	}

#authors_posts ul li {
	display: inline;
	padding: 0px;
	margin: 0px;
	}
	
#authors_posts ul li a {
	display: block;
	color: #666666;
	text-decoration: none;
	margin: 0px;
	padding: 20px 0px 20px 0px;
	border-top:1px #ccc dotted;
	font-size: 15px;
	font-style: normal;
	font-weight: normal;
	}

#authors_posts a:hover {
	background: #EFEFEF;
	color: #ff3300;
	}



/* ==================================================
  Category Dropdown
================================================== */

.wrapper-dropdown-2 {
    /* Size and position */
    position: relative; /* Enable absolute positioning for children and pseudo elements */
    width: 200px;
    margin: 40px 0 40px 0;
    padding: 10px 15px;
    float:right;

    /* Styles */
    background: #7f8c8d;
    cursor: pointer;
    outline: none;
z-index:9;
color:#fff;
}

.wrapper-dropdown-2:after {
    content: "\f078";
    width: 0;
    height: 0;
    position: absolute;
    right: 30px;
    top: 25%;
    margin-top: -3px;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
}

.wrapper-dropdown-2 .dropdown {
  /* Size & position */
    position: absolute;
    top: 100%;
    left: -25px;
    right: 0px;

    /* Styles */
    background: #7f8c8d;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    list-style: none;

    /* Hiding */
    opacity: 0;
    pointer-events: none;
}

.wrapper-dropdown-2 .dropdown li a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 10px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}



.wrapper-dropdown-2 .dropdown li i {
    margin-right: 5px;
    vertical-align: middle;
}

/* Hover state */

.wrapper-dropdown-2 .dropdown li:hover a {
    background:#e74c3c; color: #fff;
}

/* Active state */

.wrapper-dropdown-2.active:after {
       content: "\f077";
 font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
}

.wrapper-dropdown-2.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}

/* No CSS3 support */

.no-opacity       .wrapper-dropdown-2 .dropdown,
.no-pointerevents .wrapper-dropdown-2 .dropdown {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */
    pointer-events: auto; /* If pointer-events support but no pointer-events support */
}

.no-opacity       .wrapper-dropdown-2.active .dropdown,
.no-pointerevents .wrapper-dropdown-2.active .dropdown {
    display: block;
}


/* ==================================================
  Footer
================================================== */

#footer {
	background: none repeat scroll 0 0 #373737;
    border-top: 1px solid #AAAAAA;
    padding: 50px 20px 50px 20px;
    display: block;
}
#footer h4 {
	color: #FFFFFF;
}
#footer p {
	font-size: 16px;
	font-weight: normal;
	color: #949EA3;

}
 .follow-us p {
	font-size: 13px;
	margin-bottom: 10px;
	font-weight: 600;
	text-transform: uppercase;
}

.social-icons {
	margin: 0;
	padding: 0;
}

 .social-icons li {
	list-style: none;
	display: inline-block;
	margin-right: 20px;	
}

.social-icons li a i {
	font-size: 30px;color:#666;
}
.social-icons li a:hover i {
	font-size: 30px;color:#ccc;
}





/* Sub-Footer -Sticky
-------------------------------------------------- */
/* Set the fixed height of the footer here */
#sub-footer-push,
#sub-footer {
	height: 30px;
}
#sub-footer {
	background-color: #1E1F1F;
}
.credits p {
	color: #595959;
	margin-bottom: 0;
	margin-top: 5px;
	font-size: 11px;
}
.credits a {
	transition: color 0.15s ease-in-out 0s;
	color: #949EA3;
	font-size: 12px;
	line-height: 15px;
	padding: 0;
	text-decoration: none;
}
.credits a:hover {
	color: #0AD1E5;
}
/* ==================================================
   Buttons
================================================== */

.button {
  display: inline-block;
  margin: 20px 0 20px 0;
  padding: 10px 25px;
  border: 0;
  border-radius: 2px;
  color: #ffffff;
  vertical-align: middle;
  text-align: center;
  text-transform:uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  outline: none;
  background-color: #434a54;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.button:hover,
.button:focus {
  background-color: #5a6370;
}
.button.is-active,
.button:active {
  background-color: #2c3138;
}
.button.is-disabled,
.button[disabled] {
  background-color: #707c8d;
}
.button:hover,
.button:focus {
  color: #ffffff;
}
.button.is-disabled,
.button[disabled] {
  pointer-events: none;
}

/* Red*/

.button.is-success {
  background-color: #fb5240;
}
.button.is-success:hover,
.button.is-success:focus {
  background-color: #e74635;
}
.button.is-success.is-active,
.button.is-success:active {
  background-color: #c44133;
}
.button.is-success.is-disabled,
.button.is-success[disabled] {
  background-color: #bedc9d;
}

/* Grey*/

.button.is-secondary {
 background-color: #bdc3c7;
}
.button.is-secondary:hover,
.button.is-secondary:focus {
  background-color: #cacfd2;
}
.button.is-secondary.is-active,
.button.is-secondary:active {
  background: #a1a6a9;
}
.button.is-secondary.is-disabled,
.button.is-secondary[disabled] {
  background-color: #bdc3c7;
}

/* Green*/

.button.is-primary {
 background-color: #2ecc71;
}
.button.is-primary:hover,
.button.is-primary:focus {
  background-color: #58d68d;
}
.button.is-primary.is-active,
.button.is-primary:active {
  background: #27ad60;
}
.button.is-primary.is-disabled,
.button.is-primary[disabled] {
  background-color: #2ecc71;
}


.button.is-embossed {
  -webkit-box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
}
.button.is-embossed.is-active,
.button.is-embossed:active,
.button.is-embossed.is-disabled,
.button.is-embossed[disabled] {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.button.is-block {
  display: block;
  width: 100%;
}
.button.has-icon {
  padding: 10px;
}
.button.has-icon.has-text {
  padding: 10px 15px 10px 10px;
}
.button.has-icon.has-text [class^="icon-"],
.button.has-icon.has-text [class*=" icon-"] {
  margin-right: 10px;
}
input.button,
button.button {
  font-weight: normal;
  width: auto;
}

/* ==================================================
   Tooltip
================================================== */

.tooltip {
  	position: absolute;
  	z-index: 999;
  	display: block;
  	visibility: visible;
  	padding: 5px;
  	font-weight:400;
  	font-size: 14px;
  	opacity: 0;
  	filter: alpha(opacity=0);
}

.tooltip.in {
  	opacity: 1;
  	filter: alpha(opacity=100);
}

.tooltip.top {
  	margin-top: -3px;
}

.tooltip.right {
  	margin-left: 3px;
}

.tooltip.bottom {
  	margin-top: 3px;
}

.tooltip.left {
  	margin-left: -3px;
}

.tooltip-inner {
  	padding: 16px;
  	max-width: 300px;
  	-webkit-border-radius: 4px;
       -moz-border-radius: 4px;
          	border-radius: 4px;
  	background-color: #ff4a43;
  	color: #FFFFFF;
  	text-align: center;
  	text-decoration: none;
}

.tooltip-arrow {
  	position: absolute;
  	width: 0;
  	height: 0;
  	border-style: solid;
  	border-color: transparent;
}

.tooltip.top .tooltip-arrow {
  	bottom: 0;
  	left: 50%;
  	margin-left: -15px;
  	border-width: 10px 10px 0;
  	border-top-color: #ff4a43;
}

.tooltip.right .tooltip-arrow {
  	top: 50%;
  	left: 0;
  	margin-top: -15px;
  	border-width: 10px 10px 10px 0;
  	border-right-color: #ff4a43;
}

.tooltip.left .tooltip-arrow {
  	top: 50%;
  	right: 0;
  	margin-top: -15px;
  	border-width: 10px 0 10px 10px;
  	border-left-color: #ff4a43;
}

.tooltip.bottom .tooltip-arrow {
  	top: 0;
  	left: 50%;
  	margin-left: -15px;
  	border-width: 0 10px 10px;
  	border-bottom-color: #ff4a43;
}
/* ==================================================
  Testimonials
================================================== */

.aligncenter {
  text-align: center;
}
.alignleft {
  text-align: left;
}
.alignright {
  text-align: right;
}
.uppercase {
  text-transform: uppercase;
}
.no-margin-bottom {
  margin-bottom: 0;
}
.no-margin-top {
  margin-top: 0;
}
.hero-unit {
  padding: 20px 0 10px;
  background: none;
}

.hero-unit a.btn {
  margin-top: 15px;
}
.well {
  box-shadow: none;
  color: rgba(0, 0, 0, 0.5);
}
.carousel {
  position: relative;
}
.carousel .carousel-indicators {
  right: auto;
  top: -30px;
  left: 48%;
}
.carousel .carousel-indicators li {
  background: rgba(0, 0, 0, 0.3);
}
.carousel .carousel-indicators li.active {
  background: rgba(0, 0, 0, 0.7);
}
.carousel .carousel-indicators + .carousel-inner {
  margin-top: 30px;
}
.carousel.custom {
  padding: 0 40px;
}
.carousel.custom a.carousel-control {
  width: 24px;
  height: 24px;
  top: 48%;
  border: none;
  text-indent: -9999px;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.carousel.custom a.carousel-control:hover {
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.carousel.custom a.carousel-control.left {
  left: 0;
  background: url(../../img/styler/left.png);
}
.carousel.custom a.carousel-control.right {
  right: 0;
  background: url(../../img/styler/right.png);
}
.carousel.custom2 {
  padding: 0 40px;
}
.carousel.custom2 .carousel-indicators {
  position: relative;
  right: auto;
  left: auto;
}
.carousel.custom2 .carousel-indicators:before {
  content: '';
  display: block;
  width: 100%;
  top: 17px;
  position: absolute;
  height: 0px;
  background: rgba(0, 0, 0, 0.1);
  border: rgba(0, 0, 0, 0.05) solid 5px;
  border-radius: 10px;
  z-index: -1;
}
.carousel.custom2 .carousel-indicators li {
  text-indent: 0;
  height: auto;
  background: none;
  cursor: pointer;
}
.carousel.custom2 .carousel-indicators li .round {
  height: 40px;
  width: 40px;
  margin: 0 auto 10px;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  border-radius: 100px;
  position: relative;
}
.carousel.custom2 .carousel-indicators li .round:before {
  background: rgba(0, 0, 0, 0.1);
  width: 40px;
  height: 40px;
  border-radius: 100px;
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
}
.carousel.custom2 .carousel-indicators li .desc {
  font-size: 18px;
  font-weight: 300;
  position: relative;
  opacity: 0.5;
  filter: alpha(opacity=60);
}
.carousel.custom2 .carousel-indicators li.active,
.carousel.custom2 .carousel-indicators li:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.carousel.custom2 .carousel-indicators li.active .round,
.carousel.custom2 .carousel-indicators li:hover .round {
  background: #333;
}
.carousel.custom2 .carousel-indicators li.active .desc,
.carousel.custom2 .carousel-indicators li:hover .desc {
  opacity: 1;
  filter: alpha(opacity=100);
}
.carousel.custom2 a.carousel-control {
  width: 24px;
  height: 24px;
  top: 48%;
  border: none;
  text-indent: -9999px;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.carousel.custom2 a.carousel-control:hover {
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.carousel.custom2 a.carousel-control.left {
  left: 0;
  background: url(../../img/styler/left.png);
}
.carousel.custom2 a.carousel-control.right {
  right: 0;
  background: url(../../img/styler/right.png);
}
.testimonial blockquote {
  font-size: 18px;
  line-height: 1.4;
  font-style: italic;
  font-weight: 300;
}
.testimonial blockquote.big {
  font-size: 24px;
}
.testimonial blockquote.small {
  font-size: 14px;
}
.testimonial.testimonial-list2 {
  padding: 0 40px;
}
.testimonial.testimonial-list2 .carousel-indicators {
  position: relative;
  right: auto;
  left: auto;
  top: 0;
}
.testimonial.testimonial-list2 .carousel-indicators li {
  text-indent: 0;
  height: auto;
  background: none;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=60);
}
.testimonial.testimonial-list2 .carousel-indicators li .thumbnail {
  display: inline-block;
  margin: 0 auto 10px;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  border-radius: 100px;
  position: relative;
  background: #fff;
  border-color: rgba(0, 0, 0, 0.2);
}
.testimonial.testimonial-list2 .carousel-indicators li .thumbnail img {
  border-radius: 100px;
}
.testimonial.testimonial-list2 .carousel-indicators li .desc {
  font-weight: 300;
  position: relative;
}
.testimonial.testimonial-list2 .carousel-indicators li .desc .name {
  margin: 0; color:#999;
}
.testimonial.testimonial-list2 .carousel-indicators li .desc .title {
  margin: 0;
  line-height: 1.2;
}
.testimonial.testimonial-list2 .carousel-indicators li .triangle {
  width: 0;
  height: 0;
  margin: 10px auto 0;
  display: block;
  border-bottom: 30px solid transparent;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
}
.testimonial.testimonial-list2 .carousel-indicators li.active,
.testimonial.testimonial-list2 .carousel-indicators li:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.testimonial.testimonial-list2 .carousel-indicators li:hover .triangle {
  border-bottom-color: transparent;
}
.testimonial.testimonial-list2 .carousel-indicators li.active .triangle.dark-grey,
.testimonial.testimonial-list2 .carousel-indicators li.active:hover .triangle.dark-grey {
  border-bottom-color: #333333;
}
.testimonial.testimonial-list2 .carousel-indicators li.active .triangle.orange,
.testimonial.testimonial-list2 .carousel-indicators li.active:hover .triangle.orange {
  border-bottom-color: #f05444;
}
.testimonial.testimonial-list2 .carousel-indicators li.active .triangle.blue,
.testimonial.testimonial-list2 .carousel-indicators li.active:hover .triangle.blue {
  border-bottom-color: #06a9ef;
}
.testimonial.testimonial-list2 .carousel-indicators li.active .triangle.grey,
.testimonial.testimonial-list2 .carousel-indicators li.active:hover .triangle.grey {
  border-bottom-color: #888888;
}
.testimonial.testimonial-list2 .carousel-indicators li.active .triangle.yellow,
.testimonial.testimonial-list2 .carousel-indicators li.active:hover .triangle.yellow {
  border-bottom-color: #ffa93c;
}
.testimonial.testimonial-list2 .carousel-indicators li.active .triangle.pink,
.testimonial.testimonial-list2 .carousel-indicators li.active:hover .triangle.pink {
  border-bottom-color: #d8335b;
}
.testimonial.testimonial-list2 .carousel-indicators li.active .triangle.red,
.testimonial.testimonial-list2 .carousel-indicators li.active:hover .triangle.red {
  border-bottom-color: #e74c3c;
}
.testimonial.testimonial-list2 .carousel-indicators li.active .triangle.green,
.testimonial.testimonial-list2 .carousel-indicators li.active:hover .triangle.green {
  border-bottom-color: #4fa950;
}
.testimonial.testimonial-list2 .carousel-indicators li.active .triangle.darker-bg,
.testimonial.testimonial-list2 .carousel-indicators li.active:hover .triangle.darker-bg {
  border-bottom-color: rgba(0, 0, 0, 0.1);
}
.testimonial.testimonial-list2 .carousel-indicators li.active .triangle.light-grey,
.testimonial.testimonial-list2 .carousel-indicators li.active:hover .triangle.light-grey {
  border-bottom-color: #f5f5f5;
}
.testimonial.testimonial-list2 .carousel-inner {
  margin: 0;
}
.testimonial.testimonial-list2 .carousel-inner .item blockquote {
  clear: both;
  border: none;
  position: relative;
  padding: 30px 30px 30px 90px;
  border-radius: 5px;
  font-weight:700;
}
.testimonial.testimonial-list2 .carousel-inner .item blockquote:before {
  content: '“';
  top: 14px;
  left: 20px;
  position: absolute;
  font-family: Georgia, serif;
  font-weight: bold;
  font-size: 80px;
  line-height: 1.3;
  color: rgba(0, 0, 0, 0.2);
}
.testimonial.testimonial-list2 a.carousel-control {
  width: 24px;
  height: 24px;
  top: 70%;
  border: none;
  text-indent: -9999px;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.testimonial.testimonial-list2 a.carousel-control:hover {
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.testimonial.testimonial-list2 a.carousel-control.left {
  left: 0;
  background: url(../../img/styler/left.png);
}
.testimonial.testimonial-list2 a.carousel-control.right {
  right: 0;
  background: url(../../img/styler/right.png);
}
/* ==================================================
   Tabs
================================================== */

.nav_t {
 	margin-bottom: 0px;
  	margin-left: 20px;
  	list-style: none;
}

.nav_t > li > a {
  	display: block;
  	color: #323A45;
  	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	border: none;
  	-webkit-border-radius: 0;
       -moz-border-radius: 0;
          	border-radius: 0;
}

.nav_t > li > a:hover,
.nav_t > li > a:focus {
  	background-color: #999;
	color: #FFFFFF;
  	text-decoration: none;
  	display: block;
}

.nav_t > li > a > img {
  	max-width: none;
}

.nav_t > .pull-right {
  	float: right;
}

.nav-tabs_t {
  	*zoom: 1;
}

.nav-tabs_t:before,
.nav-tabs_t:after {
  	display: table;
  	content: "";
  	line-height: 0;
}

.nav-tabs_t:after {
  	clear: both;
}

.nav-tabs_t {
  	border-bottom: none;
}

.nav-tabs_t > li {
	float: left;
	margin: 0 4px 0 0;
}

.nav-tabs_t > li > a {
	background: #f2f2f2;
	padding:15px;
  	line-height: 20px;
	
	-webkit-border-radius: 2px 2px 0 0;
       -moz-border-radius: 2px 2px 0 0;
          	border-radius: 2px 2px 0 0;
}

.nav-tabs_t > .active > a,
.nav-tabs_t > .active > a:hover,
.nav-tabs_t > .active > a:focus {
	border: none;
  	background-color: #999;
	color: #FFFFFF;
  	cursor: default;
}

.tabbable {
  	*zoom: 1;
}

.tabbable:before,
.tabbable:after {
  	display: table;
  	content: "";
  	line-height: 0;
}

.tabbable:after {
  	clear: both;
}

.tab-content {
  	overflow: auto;
	padding: 20px;
	margin-left:20px;
	border-top: none;
	border: 1px solid #999;
	
	-webkit-border-radius: 0 4px 4px 4px;
       -moz-border-radius: 0 4px 4px 4px;
          	border-radius: 0 4px 4px 4px;
}


.tab-content > .tab-pane {
  	display: none;
}

.tab-content > .active {
  	display: block;
}

/* ==================================================
   Sidebar
================================================== */

.nav-stacked {list-style: none;margin:0px;padding: 0px;}

.nav-stacked>li{float:none}

.nav-stacked>li>a{margin-right:0;}

.nav-tabs.nav-stacked{border-bottom:0}

.nav-tabs.nav-stacked>li>a{border:1px solid #ddd;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}

.nav-tabs.nav-stacked>li:first-child>a{-webkit-border-top-right-radius:4px;border-top-right-radius:4px;-webkit-border-top-left-radius:4px;border-top-left-radius:4px;-moz-border-radius-topright:4px;-moz-border-radius-topleft:4px}

.nav-tabs.nav-stacked>li:last-child>a{-webkit-border-bottom-right-radius:4px;border-bottom-right-radius:4px;-webkit-border-bottom-left-radius:4px;border-bottom-left-radius:4px;-moz-border-radius-bottomright:4px;-moz-border-radius-bottomleft:4px}

/* ==================================================
   Whitepaper UL
================================================== */

#whitepapers ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	}

#whitepapers ul li {
	display: inline;
	padding: 0px;
	margin: 0px;
	}
	
#whitepapers ul li a {
	display: block;
	color: #666666;
	text-decoration: none;
	margin: 0px;
	padding: 20px 0px 20px 3px;
	border-top:1px #ccc solid;
	font-size: 15px;
	font-style: normal;
	font-weight: normal;
	}

#whitepapers a:hover {
	background: #EFEFEF;
	color: #ff4a43;
	}

/*-----------------------------------------------------------------------------------*/
/*		Accordion and Toggle
/*-----------------------------------------------------------------------------------*/

.accordion-group {
  	margin-bottom: 20px;
  	border: none;
}

.accordion-heading {
  	border-bottom: 0 none;
}

.accordion-heading .accordion-toggle {
	position: relative;
  	display: block;
  	padding: 15px;
  	margin-top:20px;
	background: #f2f2f2;
	color: #666;
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	border:2px #ccc solid;
	-webkit-border-radius: 4px;
       -moz-border-radius: 4px;
          	border-radius: 4px;
	
	-webkit-transition: all 0.1s linear 0s;
	-moz-transition: all 0.1s linear 0s;
	-ms-transition: all 0.1s linear 0s;
	-o-transition: all 0.1s linear 0s;
	transition: all 0.1s linear 0s;
}

.accordion-toggle {
  	cursor: pointer;
}

.accordion-heading:hover .accordion-toggle,
.accordion-heading:hover .accordion-toggle.inactive {
	background: #999;
	color: #FFFFFF;
}

.accordion-heading .accordion-toggle.active {
	background: #999;
	color: #FFFFFF;
	
	-webkit-border-radius: 4px 4px 0 0;
       -moz-border-radius: 4px 4px 0 0;
          	border-radius: 4px 4px 0 0;
}

.accordion-heading .accordion-toggle.inactive {
	background: #E9F0F4;
	color: #323A45;
}

.accordion-heading.accordionize .accordion-toggle span,
.accordion-heading.togglize .accordion-toggle span {
    position: absolute;
    top: 50%;
    right: 20px;
    margin: -8px 0 0 0;
    color: #323A45;
    font-size: 18px;
	
	-webkit-transition: all 0.1s linear 0s;
	-moz-transition: all 0.1s linear 0s;
	-ms-transition: all 0.1s linear 0s;
	-o-transition: all 0.1s linear 0s;
	transition: all 0.1s linear 0s;
}

.accordion-heading:hover .accordion-toggle span {
	color: #FFFFFF;
}

.accordion-heading .accordion-toggle.active span,
.accordion-heading:hover .accordion-toggle.inactive span {
	color: #FFFFFF;	
}

.accordion-heading.accordionize .accordion-toggle.active span,
.accordion-heading.togglize .accordion-toggle.active span {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.accordion-heading.togglize .accordion-toggle span {
	margin: -8px 0 0 0;
	font-size: 18px;
}

.accordion-heading.togglize .accordion-toggle.active span {
	opacity:0;
	filter: alpha(opacity=0);
}

.accordion-heading.togglize .accordion-toggle.active span + span {
	opacity:1;
	filter: alpha(opacity=100);
}

.accordion-inner {
  	padding: 8px 15px 10px;
	
	border-top: none;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	
	-webkit-border-radius: 0 0 4px 4px;
       -moz-border-radius: 0 0 4px 4px;
          	border-radius: 0 0 4px 4px;
}
/* ==================================================
   Progress Bars
================================================== */

.progress {
	background-color: #666;
}

.progress-bar {
	margin: 26px 0px 20px;
}

.progress {
	position: relative;
	background-image: none;
	height: 46px;
	-webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
			
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
			box-shadow: none;
	
	filter:progid:DXImageTransform.Microsoft.gradient(enabled = false); 
	margin: 0;	
}

.progress .bar {
	background-color: #e67e22;
	background-image: none;
	
	-webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
			
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
			box-shadow: none;
			
	filter:progid:DXImageTransform.Microsoft.gradient(enabled = false); 
}

.progress .field {
	position: absolute;
	color: #FFFFFF;
	line-height: 44px;
	left: 20px;	
}
/* ==================================================
   Icon List
================================================== */

.iconlist
{
list-style: none;
margin: 0;
padding:0;
}



li.select
{
background-image: url(../../assets/img/services/certification/benefits/selecting.png);
background-repeat: no-repeat;
background-position: 0 50%;
background-size:80px 80px;
padding: 10px 0 10px 20px;
margin:30px 0 30px 0;
text-indent:99px;
}

li.Certificate
{
background-image: url(../../assets/img/services/certification/benefits/Certificate.png);
background-repeat: no-repeat;
background-position: 0 50%;
background-size:80px 80px;
padding: 10px 0 10px 20px;
margin:30px 0 30px 0;
text-indent:99px;
}
li.Prior_use
{
background-image: url(../../assets/img/services/certification/benefits/prior_use.png);
background-repeat: no-repeat;
background-position: 0 50%;
background-size:80px 80px;
padding: 10px 0 10px 20px;
margin:30px 0 30px 0;
text-indent:99px;
}
li.Benefits
{
background-image: url(../../assets/img/services/certification/benefits/Benefits.png);
background-repeat: no-repeat;
background-position: 0 50%;
background-size:80px 80px;
padding: 10px 0 10px 20px;
margin:30px 0 30px 0;
text-indent:99px;
}
li.Data
{
background-image: url(../../assets/img/services/certification/benefits/Data.png);
background-repeat: no-repeat;
background-position: 0 50%;
background-size:80px 80px;
padding: 10px 0 10px 20px;
margin:30px 0 30px 0;
text-indent:99px;
}

/* ==================================================
   exSILentia
================================================== */

.Features {text-align:center;margin-top:50px;}
.Features h1 {font-weight:500;margin-bottom:70px;color:#999;}
.Features h4 {font-weight:500;margin-bottom:20px;color:#333;font-size:15px;}
.Features i {color:#16a085;}
.Features .icon-5x {font-size:70px;}
.Features .icon-3x {font-size:30px;padding-left:20px;}

.area-top{ position: fixed;top: 140px;  background-color: #fafafa;
  background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
  background-repeat: repeat-x; 
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  *zoom: 1;z-index:9;width:80%; padding:10px 15px 3px 15px;}
  
